<form class="form-horizontal" action="/create_book">
  <div class="form-group">
    <label for="book_authors" class="col-sm-2 control-label">Authors</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_authors" placeholder="Enter the book's authors in alphabetical order" name="book_authors">
    </div>
  </div>
  <div class="form-group">
    <label for="book_title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_title" placeholder="Enter the book's title" name="book_title">
    </div>
  </div>
  <div class="form-group">
    <label for="book_edition" class="col-sm-2 control-label">Edition</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_edition" placeholder="Enter the edition number in the following format '1st', '2nd', etc" name="book_edition">
    </div>
  </div>
  <div class="form-group">
    <label for="book_yearpublished" class="col-sm-2 control-label">Year Published</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_yearpublished" placeholder="Enter the year in which this edition was published" name="book_yearpublished">
    </div>
  </div>
  <div class="form-group">
    <label for="book_isbn13" class="col-sm-2 control-label">ISBN-13</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_isbn13" placeholder="Enter the book's ISBN-13" name="book_isbn13">
    </div>
  </div>
  <div class="form-group">
    <label for="book_apponlist" class="col-sm-2 control-label">Appearances on List</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_apponlist" placeholder="Enter something, not sure..." name="book_apponlist">
    </div>
  </div>
  <div class="form-group">
    <label for="book_department" class="col-sm-2 control-label">Department</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_department" placeholder="Enter the department which uses this book" name="book_department">
    </div>
  </div>
  <div class="form-group">
    <label for="book_coursetitle" class="col-sm-2 control-label">Course Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_coursetitle" placeholder="Enter the title of the course which uses this book" name="book_coursetitle">
    </div>
  </div>
  <div class="form-group">
    <label for="book_coursenumber" class="col-sm-2 control-label">Course Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_coursenumber" placeholder="Enter the number of the course which uses this book (e.g. '31184')" name="book_coursenumber">
    </div>
  </div>
  <div class="form-group">
    <label for="book_professor" class="col-sm-2 control-label">Professor</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_professor" placeholder="Enter the name of the professor that uses this book" name="book_professor">
    </div>
  </div>
  <div class="form-group">
    <label for="book_description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="book_description" placeholder="Enter a short description of the book" name="book_description">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </div>
</form>